<h2>
  <img src="https://ci.opensuse.org/static/059b3e24/images/headshot.png" alt="Jenkins icon" height="20">
  Jenkins Status
</h2>

<%= jenkins_partial %>

<h2>
  <img src="https://raw.githubusercontent.com/openSUSE/artwork/master/Logo/buttons/button-filled-colour.png" alt="openSUSE icon" height="28">
  Build Service Status
</h2>

<h2>
  <img class="docker_icon" src="https://hub.docker.com/public/images/logos/mini-logo.svg" alt="Docker icon" height="12">
  Docker Hub Status
</h2>
<%= docker_partial %>