<%# This just contains some static links to Travis %>
<h4>Etc Files Check</h4>
<p>
  <a href="https://travis-ci.com/yast/usr-etc-test">
    <img src="https://travis-ci.com/yast/usr-etc-test.svg?branch=master" alt="Etc Files Check"/>
  </a>
</p>

<h4>Systemd Status Check</h4>
<p>
  <a href="https://travis-ci.org/github/yast/yast-services-manager/branches">
    <img src="https://travis-ci.org/yast/yast-services-manager.svg?branch=systemd_states_check"
      alt="Systemd Status Check"/>
  </a>
</p>

