<%# This just contains some static links to GitHub Actions %>
<h4>Etc Files Check</h4>
<p>
  <a href="https://github.com/yast/usr-etc-test/actions?query=workflow%3ACheck+branch%3Amaster">
    <img src="https://github.com/yast/usr-etc-test/workflows/Check/badge.svg?branch=master" alt="Etc Files Check"/>
  </a>
</p>

<h4>Systemd Status Check</h4>
<p>
  <a href="https://github.com/yast/yast-services-manager/actions/workflows/check.yml?query=branch%3Acheck_systemd_states">
    <img src="https://github.com/yast/yast-services-manager/actions/workflows/check.yml/badge.svg?branch=check_systemd_states"
      alt="Systemd Status Check"/>
  </a>
</p>
