
/***************************************************************/

body {background-color: #FAFAFA;font-family: sans-serif;
  padding: 10px 30px;
}

h1 { font-size: 200%; margin: 1em 0 0.75em; font-weight: bold;}
h2 { font-size: 150%; margin: 1.3em 0 0.5em; font-weight: bold;}
h3 { font-size: 120%; margin: 1.0em 0 0.5em; font-weight: bold;}
h4 { font-size: 100%; margin: 0.8em 0 0.4em; font-weight: bold;}
h5 { font-size: 100%; margin: 0.4em 0 0.2em; font-weight: bold;}

a {text-decoration: none; color: black;}
a:hover {text-decoration: underline;}

table {margin: 5px}
tbody tr:hover {background-color: #efefef;}
td { padding: 5px 10px; }

.center { text-align: center; vertical-align: middle; }
.vmiddle { vertical-align: middle; }
.vbottom { vertical-align: bottom; }

.badge  {border-radius: 3px; padding: 3px 6px;
  text-decoration: none; color: white;
  background-color: #808080;
}

a .badge {
  text-decoration: none; color: white;
}
a:hover .badge {
  text-decoration: underline;
}

.badge_success {background-color: green;}
.badge_info {background-color: #0061b5;}
.badge_warning {background-color: #ff8c3f;}
.badge_error  {background-color: red;}
.badge_unknown {background-color: #9e9e9e;}

.color_error  {color: red;}
.color_success  {color: green;}

.success_row {display: none;}

.indent { margin-left: 2em;}
.hidden { display: none; }

.hint {
  color: #9e9e9e;
  font-size: 80%;
}

.highlight {
  background-color: #fff3bc;
  border: #ffaeae 1px dotted;
}

.highlight:hover {
  background-color: #fde88c;
}

.docker_icon {
  background-color: #0061b5;
  padding: 5px;
  border-radius: 20px;
}

#new_issues_count {
  margin-left: 20px;
}

#filter {
  position: fixed; right: 0; top: 0;
  border-bottom-left-radius: 10px;
  background-color: #efefef; padding: 20px;
}

footer {
  color: #bbbbbb;
  text-align: center;
  margin-top: 100px;
  padding: 20px 0;
  font-size: small;
}
footer:hover {
  color: black;
}
